Repository hmcts/et-sya-api, pull requests merged in 2022-03, with the labels that each got.

#27 RET 922
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/et/syaapi/config/SwaggerPublisherTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/et/syaapi/controllers/GetWelcomeTest.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/Application.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/config/OpenAPIConfiguration.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/config/PostcodeToOfficeMappings.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/config/YamlPropertySourceFactory.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/controllers/RootController.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/PostcodeToOfficeService.java
  src/main/resources/application.yaml
  src/main/resources/postcode-office.yml
  src/smokeTest/java/uk/gov/hmcts/reform/et/syaapi/smoketests/SmokeTestConfiguration.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/config/PostcodeToOfficeLookupTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/PostcodeToOfficeServiceTest.java
  src/test/java/uk/gov/hmcts/reform/rsecheck/DemoUnitTest.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-27

#28 Update Helm to v3.7.3, spring boot to v2.6.4
  build.gradle
  charts/et-sya-api/Chart.yaml
Labels: ns:et, prd:et, rel:et-sya-api-pr-28

#29 Ret 1018: Idam and CCD integration to create a draft case
  build.gradle
  charts/et-sya-api/Chart.yaml
  charts/et-sya-api/values.preview.template.yaml
  charts/et-sya-api/values.yaml
  config/owasp/suppressions.xml
  config/pmd/ruleset.xml
  lombok.config
  src/integrationTest/java/uk/gov/hmcts/reform/et/syaapi/config/SwaggerPublisherTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/et/syaapi/controllers/GetWelcomeTest.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/Application.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/SyaApiApplication.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/client/CcdApiClient.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/config/AuthConfiguration.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/config/GlobalExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/config/OpenAPIConfiguration.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/config/WebConfig.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/config/interceptors/RequestInterceptor.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/config/interceptors/UnAuthorisedServiceException.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/constants/EtSyaConstants.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/controllers/ManageCaseController.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/models/EmploymentCaseData.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/models/ErrorResponse.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/VerifyTokenService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/et/syaapi/config/GlobalExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/controllers/ManageCaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/CaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/VerifyTokenServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/utils/ResourceLoader.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/utils/ResourceUtil.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/utils/TestConstants.java
  src/test/resources/requests/caseData.json
  src/test/resources/responses/caseDetails.json
  src/test/resources/responses/startEventResponse.json
Labels: ns:et, prd:et, rel:et-sya-api-pr-29

#38 Ret 1022 from master
  build.gradle
  src/main/java/uk/gov/hmcts/reform/et/syaapi/constants/EtSyaConstants.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/controllers/ManageCaseController.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/search/Query.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseService.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/controllers/ManageCaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/search/QueryTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/CaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/utils/ResourceLoader.java
  src/test/resources/responses/caseDetailsList.json
Labels: ns:et, prd:et, rel:et-sya-api-pr-38
