Repository hmcts/et-sya-api, pull requests merged in 2022-09, with the labels that each got.

#118 RET-2260. Update et-data-model version.
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:et, prd:et, rel:et-sya-api-pr-118

#119 Updated Jenkins_CNP config to add demo branch sync
  Jenkinsfile_CNP
Labels: ns:et, prd:et, rel:et-sya-api-pr-119

#120 Update dependencies
  .github/renovate.json
  build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: ns:et, prd:et, rel:et-sya-api-pr-120

#123 APIM Terraform
  infrastructure/.terraform-version
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/et_acas_api.tf
  infrastructure/main.tf
  infrastructure/templates/api-policy.xml
  infrastructure/variables.tf
Labels: ns:et, prd:et, add-or-update, rel:et-sya-api-pr-123

#115 Ret 2256 - create a controller for document upload service
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/et/syaapi/controllers/DocumentUploadController.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/models/CaseDocument.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseDocumentService.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/controllers/DocumentUploadControllerTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/controllers/ManageCaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/CaseDocumentServiceTest.java
  src/test/resources/responses/caseDocumentUpload.json
Labels: ns:et, prd:et, rel:et-sya-api-pr-115

#124 Update env tag
  infrastructure/main.tf
Labels: ns:et, prd:et, add-or-update, rel:et-sya-api-pr-124

#125 AAT naming
  infrastructure/aat.tfvars
  infrastructure/main.tf
Labels: ns:et, prd:et, add-or-update, rel:et-sya-api-pr-125

#126 Create perftest.tfvars
  infrastructure/perftest.tfvars
Labels: ns:et, prd:et, add-or-update, rel:et-sya-api-pr-126

#129 Bump et-data-model
  build.gradle
Labels: ns:et, prd:et, rel:et-sya-api-pr-129

#127 2256: disable uri validation for doc upload api
  src/functionalTest/java/uk/gov/hmcts/reform/et/syaapi/ManageCaseControllerFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/models/CaseDocument.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseDocumentService.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/CaseDocumentServiceTest.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-127

#128 RET-2294
  src/main/java/uk/gov/hmcts/reform/et/syaapi/controllers/AcasController.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseService.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/controllers/AcasControllerTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/CaseServiceTest.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-128

#130 Ret 2074
  src/main/java/uk/gov/hmcts/reform/et/syaapi/config/GlobalExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/config/interceptors/ResourceNotFoundException.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/constants/EtSyaConstants.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/controllers/DocumentController.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/models/DocumentDetailsResponse.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseDocumentService.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/controllers/DocumentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/CaseDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/utils/ResourceLoader.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-130

#133 Add ITHC
  Jenkinsfile_CNP
Labels: ns:et, prd:et, rel:et-sya-api-pr-133

#132 RET-2538. Create an update submitted case API method.
  src/functionalTest/java/uk/gov/hmcts/reform/et/syaapi/ManageCaseControllerFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/et/syaapi/controllers/ManageCaseControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/controllers/ManageCaseController.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/enums/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseService.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/controllers/ManageCaseControllerTest.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-132

#134 RET-2530. Update et-data-model version.
  build.gradle
Labels: ns:et, prd:et, rel:et-sya-api-pr-134

#117 RET-1454 Handle logic upon case submission
  build.gradle
  config/owasp/suppressions.xml
  src/contractTest/java/uk/gov/hmcts/reform/et/syaapi/consumer/ccd/SubmitForCitizenConsumerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/et/syaapi/ManageCaseControllerFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/config/GlobalExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/constants/EtSyaConstants.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/controllers/ManageCaseController.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/helper/EmployeeObjectMapper.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/models/AcasCertificate.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/notification/NotificationsProperties.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/AcasService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseDocumentService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/PostcodeToOfficeService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfDecodedMultipartFile.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfMapperConstants.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfMapperService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfService.java
  src/main/resources/ET1_0922.pdf
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/et/syaapi/controllers/ManageCaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/enums/CaseEventTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/helper/EmploymentObjectMapperTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/model/CaseDocumentTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/model/TestData.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/AcasServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/CaseDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/CaseServiceBootTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/CaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/PostcodeToOfficeServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfDecodedMultipartFileTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfMapperServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/utils/TestConstants.java
  src/test/resources/ET1_0922.pdf
  src/test/resources/requests/acasCertificate.json
  src/test/resources/requests/caseData.json
  src/test/resources/requests/caseData_old.json
  src/test/resources/requests/caseRequest.json
  src/test/resources/requests/submitCaseDataContent.json
  src/test/resources/responses/documentTypeItemList.json
  src/test/resources/responses/sendEmailResponse.json
  src/test/resources/responses/startEventResponse.json
Labels: ns:et, prd:et, rel:et-sya-api-pr-117

#135 RET-2533: Add Jurisdiction codes mapper, add tests for mapper and cas…
  src/main/java/uk/gov/hmcts/reform/et/syaapi/constants/ClaimTypesConstants.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/constants/JurisdictionCodesConstants.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/helper/JurisdictionCodesMapper.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseService.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/helper/JurisdictionCodesMapperTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/model/TestData.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/CaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/utils/TestConstants.java
  src/test/resources/requests/caseDataWithClaimTypes.json
Labels: ns:et, prd:et, rel:et-sya-api-pr-135

#136 RET-2294
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseService.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/CaseServiceTest.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-136

#137 Ret 1454 2
  src/main/java/uk/gov/hmcts/reform/et/syaapi/helper/EmployeeObjectMapper.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/helper/JurisdictionCodesMapper.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseDocumentService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseService.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/helper/EmploymentObjectMapperTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/helper/JurisdictionCodesMapperTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/CaseServiceBootTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/CaseServiceTest.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-137

#139 Enable application to run in cftlib environment
  README.md
  src/main/resources/application-cftlib.yaml
  src/main/resources/application.yaml
Labels: ns:et, prd:et, rel:et-sya-api-pr-139

#138 RET-1968: Fixed NPE
  src/main/java/uk/gov/hmcts/reform/et/syaapi/notification/NotificationsProperties.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfMapperService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfMapperServiceTest.java
  src/test/resources/requests/caseData.json
Labels: ns:et, prd:et, rel:et-sya-api-pr-138

#141 Updates to PDF Mapper Service
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfService.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-141

#140 RET-2570: fixed update submitted case error
  src/main/java/uk/gov/hmcts/reform/et/syaapi/controllers/ManageCaseController.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/controllers/ManageCaseControllerTest.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-140

#142 Use typesOfClaim
  build.gradle
  src/main/java/uk/gov/hmcts/reform/et/syaapi/helper/JurisdictionCodesMapper.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfMapperService.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/helper/EmploymentObjectMapperTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/helper/JurisdictionCodesMapperTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/model/TestData.java
  src/test/resources/requests/caseData.json
  src/test/resources/requests/caseDataWithClaimTypes.json
  src/test/resources/requests/caseRequest.json
  src/test/resources/requests/submitCaseDataContent.json
Labels: ns:et, prd:et, rel:et-sya-api-pr-142

#144 Removed case document am url definition from application-cftlib.yaml
  src/main/resources/application-cftlib.yaml
Labels: ns:et, prd:et, rel:et-sya-api-pr-144
