Repository hmcts/et-sya-api, pull requests merged in 2022-11, with the labels that each got.

#184 Don't throw error if acas can't retrieve certificates.
  src/main/java/uk/gov/hmcts/reform/et/syaapi/controllers/ManageCaseController.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseService.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/CaseServiceBootTest.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-184

#185 RET-2643
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/et/syaapi/controllers/ManageCaseControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseService.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/controllers/ManageCaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/CaseServiceBootTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/CaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/utils/TestConstants.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-185

#186 caseTypeId removed from log as it is null
  src/main/java/uk/gov/hmcts/reform/et/syaapi/controllers/ManageCaseController.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-186

#188 RET-2799
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfMapperService.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-188

#192 RET-2792
  charts/et-sya-api/values.yaml
  src/main/java/uk/gov/hmcts/reform/et/syaapi/notification/NotificationsProperties.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseService.java
  src/main/resources/application.yaml
Labels: ns:et, prd:et, rel:et-sya-api-pr-192

#196 RET-2792
  charts/et-sya-api/Chart.yaml
  charts/et-sya-api/values.yaml
  src/main/java/uk/gov/hmcts/reform/et/syaapi/notification/NotificationsProperties.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseService.java
  src/main/resources/application.yaml
Labels: ns:et, prd:et, rel:et-sya-api-pr-196

#190 RET-2731: Mock out ACAS Service tests and improve logging in et-sya-api
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/AcasService.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/AcasServiceTest.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-190

#191 Ret 2783 Welsh translation content - Generate Welsh pdf claim form
  src/integrationTest/java/uk/gov/hmcts/reform/et/syaapi/controllers/ManageCaseControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseDocumentService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfService.java
  src/main/resources/CY_ET1_0922.pdf
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/CaseDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/CaseServiceBootTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfServiceTest.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-191

#200 Ret 2792 new
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseService.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-200

#201 Ret 2792 new
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/NotificationService.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/NotificationServiceTest.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-201

#202 Ret 2846
  build.gradle
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfMapperConstants.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfMapperService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfMapperUtil.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PersonalDetailsMapper.java
  src/main/resources/ET1_1122.pdf
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfMapperServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfMapperUtilTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PersonalDetailsMapperTest.java
  src/test/resources/requests/caseData.json
Labels: ns:et, prd:et, rel:et-sya-api-pr-202

#205 Ret 2864 postcode and test updates - javadoc Implementation
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfMapperService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfMapperUtil.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PersonalDetailsMapper.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/model/TestData.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfMapperServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfMapperUtilTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PersonalDetailsMapperTest.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-205

#206 Ret 2846 postcode country updates
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfMapperUtil.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/model/TestData.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-206

#204 Handling null values
  build.gradle
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfService.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfServiceTest.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-204

#208 Merge1.1.0.2 into welsh
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/et/syaapi/controllers/ManageCaseControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/constants/EtSyaConstants.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/controllers/ManageCaseController.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/AcasService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseDocumentService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfMapperConstants.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfMapperService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfMapperUtil.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PersonalDetailsMapper.java
  src/main/resources/ET1_1122.pdf
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/et/syaapi/controllers/ManageCaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/model/TestData.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/AcasServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/CaseDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/CaseServiceBootTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/CaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfMapperServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfMapperUtilTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PersonalDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/utils/TestConstants.java
  src/test/resources/requests/caseData.json
Labels: ns:et, prd:et, rel:et-sya-api-pr-208

#189 Deployed to Demo : Release1.1Fixes
  build.gradle
  src/main/java/uk/gov/hmcts/reform/et/syaapi/constants/EtSyaConstants.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseDocumentService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfMapperConstants.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfMapperService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfMapperUtil.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PersonalDetailsMapper.java
  src/main/resources/ET1_1122.pdf
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/et/syaapi/model/TestData.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/CaseDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/CaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfMapperServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfMapperUtilTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PersonalDetailsMapperTest.java
  src/test/resources/requests/caseData.json
Labels: ns:et, prd:et, rel:et-sya-api-pr-189, no_cleanup

#203 RET-2750: Add functional tests to controllers classes
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/et/syaapi/AcasControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/et/syaapi/BaseFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/et/syaapi/DocumentControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/et/syaapi/DocumentUploadControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/et/syaapi/IdamTestApiRequests.java
  src/functionalTest/java/uk/gov/hmcts/reform/et/syaapi/model/CreateUser.java
  src/functionalTest/java/uk/gov/hmcts/reform/et/syaapi/model/Role.java
  src/functionalTest/resources/uploads/zipcode.txt
Labels: ns:et, prd:et, rel:et-sya-api-pr-203

#178 RET-2574: Add manageOffice assignment before case submitted
  src/main/java/uk/gov/hmcts/reform/et/syaapi/constants/EtSyaConstants.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/AssignCaseToLocalOfficeService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/PostcodeToOfficeService.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/helper/AssignCaseToLocalOfficeServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/model/TestData.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/CaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/PostcodeToOfficeServiceTest.java
  src/test/resources/requests/caseDataWithoutManagingAddress.json
  src/test/resources/requests/noManagingOfficeAndRespondentsAddressCaseRequest.json
Labels: ns:et, prd:et, rel:et-sya-api-pr-178
