Repository hmcts/et-sya-api, pull requests merged in 2022-10, with the labels that each got.

#143 Reintroduce getCaseType by postcode logic
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseService.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/CaseServiceTest.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-143

#147 RET-2578: Add other claim types mapping to pdfboxservice
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfMapperConstants.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfMapperService.java
  src/test/resources/requests/caseData.json
Labels: ns:et, prd:et, rel:et-sya-api-pr-147

#148 Ret 2578
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfMapperService.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-148

#150 Add dynamic citizen portal link
  charts/et-sya-api/Chart.yaml
  charts/et-sya-api/values.yaml
  src/main/resources/application.yaml
Labels: ns:et, prd:et, rel:et-sya-api-pr-150

#151 Temporarily changing citizen link to preview
  charts/et-sya-api/Chart.yaml
  charts/et-sya-api/values.yaml
Labels: ns:et, prd:et, rel:et-sya-api-pr-151

#155 RET-2607
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseDocumentService.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-155

#153 Document details logs
  src/main/java/uk/gov/hmcts/reform/et/syaapi/controllers/TestController.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseDocumentService.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/controllers/TestControllerTest.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-153

#157 Potential fix for document details AAT issue
  src/main/java/uk/gov/hmcts/reform/et/syaapi/controllers/DocumentController.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/controllers/TestController.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseDocumentService.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/controllers/DocumentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/controllers/TestControllerTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/CaseDocumentServiceTest.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-157

#158 Portential fix for doc details issue
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseDocumentService.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-158

#160 Email update
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/NotificationService.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/CaseServiceBootTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/NotificationServiceTest.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-160

#161 Removed logs what are not requried for prod
  src/main/java/uk/gov/hmcts/reform/et/syaapi/controllers/DocumentController.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseDocumentService.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-161

#164 Fix discrimination and pay types
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfMapperService.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfMapperServiceTest.java
  src/test/resources/responses/pdfMapperCaseDetails.json
Labels: ns:et, prd:et, rel:et-sya-api-pr-164

#165 Changed citizen link back to use environment's instance
  charts/et-sya-api/Chart.yaml
  charts/et-sya-api/values.yaml
Labels: ns:et, prd:et, rel:et-sya-api-pr-165

#166 RET- 2633 - Update employment details and I am owed
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfMapperConstants.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfMapperService.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfMapperServiceTest.java
  src/test/resources/responses/pdfMapperCaseDetails.json
Labels: ns:et, prd:et, rel:et-sya-api-pr-166

#167 Fix new employment on pdf mapper
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfMapperService.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfMapperServiceTest.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-167

#168 RET 2675 & RET-2680 - Display notice end and pay cycle
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfMapperService.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfMapperServiceTest.java
  src/test/resources/responses/pdfMapperCaseDetails.json
Labels: ns:et, prd:et, rel:et-sya-api-pr-168

#169 RET- 2680 - Fix new employment answer is Yes
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfMapperService.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-169

#172 RET-2688: fix spring file size limit
  src/main/resources/application.yaml
Labels: ns:et, prd:et, rel:et-sya-api-pr-172

#173 RET-2682: Remove API Keys
  charts/et-sya-api/Chart.yaml
  charts/et-sya-api/values.preview.template.yaml
  charts/et-sya-api/values.yaml
  src/main/resources/application.yaml
Labels: ns:et, prd:et, rel:et-sya-api-pr-173

#174 Added email template in chart
  charts/et-sya-api/Chart.yaml
  charts/et-sya-api/values.yaml
Labels: ns:et, prd:et, rel:et-sya-api-pr-174
