Repository hmcts/et-sya-api, pull requests merged in 2022-12, with the labels that each got.

#209 Fix disability claim
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfMapperConstants.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfMapperServiceTest.java
  src/test/resources/responses/pdfMapperCaseDetails.json
Labels: ns:et, prd:et, rel:et-sya-api-pr-209

#210 RET-2895 - Fix disability claim
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfMapperConstants.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfMapperServiceTest.java
  src/test/resources/responses/pdfMapperCaseDetails.json
Labels: ns:et, prd:et, rel:et-sya-api-pr-210

#214 claimantInd null values
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfService.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/CaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfServiceTest.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-214

#215 Keeping sonar happy
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfServiceTest.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-215

#212 RET-2877 - Null check for contact language
  src/main/java/uk/gov/hmcts/reform/et/syaapi/constants/EtSyaConstants.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfService.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/model/TestData.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/CaseServiceBootTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/CaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfServiceTest.java
  src/test/resources/responses/userInfo.json
Labels: ns:et, prd:et, rel:et-sya-api-pr-212

#217 RET-2871 fix
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfMapperService.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfMapperServiceTest.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-217

#211 RET-2818. Hearing language question.
  build.gradle
  src/test/resources/requests/caseData.json
  src/test/resources/requests/caseRequest.json
  src/test/resources/requests/submitCaseDataContent.json
Labels: ns:et, prd:et, rel:et-sya-api-pr-211

#220 cve
  config/owasp/suppressions.xml
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfServiceTest.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-220

#221 cve suppressions
  config/owasp/suppressions.xml
Labels: ns:et, prd:et, rel:et-sya-api-pr-221

#219 RET-2848
  src/main/resources/CY_ET1_0922.pdf
Labels: ns:et, prd:et, rel:et-sya-api-pr-219

#223 RET-2918 BUG: ET1 vetting work address showing as null
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/AssignCaseToLocalOfficeService.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-223

#225 Et data model update
  build.gradle
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfService.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfServiceTest.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-225

#207 Release 1.1.0.2
  build.gradle
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/et/syaapi/AcasControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/et/syaapi/BaseFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/et/syaapi/DocumentControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/et/syaapi/DocumentUploadControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/et/syaapi/IdamTestApiRequests.java
  src/functionalTest/java/uk/gov/hmcts/reform/et/syaapi/model/CreateUser.java
  src/functionalTest/java/uk/gov/hmcts/reform/et/syaapi/model/Role.java
  src/functionalTest/resources/uploads/zipcode.txt
  src/integrationTest/java/uk/gov/hmcts/reform/et/syaapi/controllers/ManageCaseControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/constants/EtSyaConstants.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/controllers/ManageCaseController.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/AcasService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/AssignCaseToLocalOfficeService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/PostcodeToOfficeService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfMapperService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/et/syaapi/controllers/ManageCaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/helper/AssignCaseToLocalOfficeServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/model/TestData.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/AcasServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/CaseServiceBootTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/CaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/PostcodeToOfficeServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfMapperServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/utils/TestConstants.java
  src/test/resources/requests/caseDataWithoutManagingAddress.json
  src/test/resources/requests/noManagingOfficeAndRespondentsAddressCaseRequest.json
Labels: ns:et, prd:et, rel:et-sya-api-pr-207

#224 Ret 2864 add java docs to public/protected elements
  src/main/java/uk/gov/hmcts/reform/et/syaapi/config/AuthConfiguration.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/config/GlobalExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/config/NotificationsConfiguration.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/config/OpenAPIConfiguration.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/config/WebConfig.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/config/YamlPropertySourceFactory.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/config/interceptors/RequestInterceptor.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/config/interceptors/ResourceNotFoundException.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/config/interceptors/UnAuthorisedServiceException.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/constants/EtSyaConstants.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/controllers/ManageCaseController.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/enums/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/enums/CaseState.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/exception/NotificationException.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/helper/CaseDetailsConverter.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/helper/EmployeeObjectMapper.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/models/CaseRequest.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/models/DocumentDetailsResponse.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/models/ErrorResponse.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/search/Query.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/AcasService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseDocumentService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/VerifyTokenService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfDecodedMultipartFile.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfService.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-224

#226 Welsh merge update
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/AssignCaseToLocalOfficeService.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-226

#227 Add file extension
  build.gradle
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfService.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfServiceTest.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-227

#230 Hot fix - Ret 2899 new
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/AssignCaseToLocalOfficeService.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/helper/AssignCaseToLocalOfficeServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/model/TestData.java
  src/test/resources/requests/caseRequestEnglandWales.json
Labels: ns:et, prd:et, rel:et-sya-api-pr-230

#232 Acas cert logging removed
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/AcasService.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-232

#233 RET-2848 - welsh doc template updated
  src/main/resources/CY_ET1_2222.pdf
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfServiceTest.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-233
