Repository hmcts/et-sya-api, pull requests merged in 2022-05, with the labels that each got.

#78 Update case service to use citizen APIs
  src/main/java/uk/gov/hmcts/reform/et/syaapi/controllers/ManageCaseController.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseService.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/controllers/ManageCaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/CaseServiceTest.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-78

#83 Ret 1464 - Update data model
  build.gradle
Labels: ns:et, prd:et, rel:et-sya-api-pr-83

#89 update renovate and dependabot config
  .github/dependabot.yml
  .github/renovate.json
Labels: ns:et, prd:et, rel:et-sya-api-pr-89

#88 Ret 1471 - update data model to 1.0.3 for Hearing Preference
  build.gradle
Labels: ns:et, prd:et, rel:et-sya-api-pr-88

#82 Ret 1759
  config/pmd/ruleset.xml
  src/main/java/uk/gov/hmcts/reform/et/syaapi/SyaApiApplication.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/client/CcdApiClient.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/constants/EtSyaConstants.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/controllers/ManageCaseController.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/enums/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/helper/EmployeeObjectMapper.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/models/CaseRequest.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseService.java
  src/main/resources/postcode-office.yml
  src/test/java/uk/gov/hmcts/reform/et/syaapi/config/PostcodeToOfficeLookupTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/controllers/ManageCaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/CaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/utils/ResourceLoader.java
  src/test/resources/requests/caseData.json
  src/test/resources/responses/caseDetailsCombined.json
  src/test/resources/responses/caseDetailsEngland.json
  src/test/resources/responses/caseDetailsScotland.json
Labels: ns:et, prd:et, rel:et-sya-api-pr-82

#93 Ret 1452 latest
  Jenkinsfile_CNP
  build.gradle
  src/contractTest/java/uk/gov/hmcts/reform/et/syaapi/consumer/SpringBootContractBaseTest.java
  src/contractTest/java/uk/gov/hmcts/reform/et/syaapi/consumer/ccd/CcdGetCasesByCaseIdPactTest.java
  src/contractTest/java/uk/gov/hmcts/reform/et/syaapi/consumer/ccd/StartEventForCitizenConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/et/syaapi/consumer/ccd/StartForCitizenConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/et/syaapi/consumer/ccd/SubmitEventForCitizenConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/et/syaapi/consumer/ccd/SubmitForCitizenConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/et/syaapi/consumer/document/PdfGenerationServiceConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/et/syaapi/consumer/idam/IdamConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/et/syaapi/consumer/idam/JwksConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/et/syaapi/consumer/idam/S2SConsumerTest.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-93

#96 add owasp suppressions
  config/owasp/suppressions.xml
Labels: ns:et, prd:et, rel:et-sya-api-pr-96

#94 Ret 1766
  README.md
  build.gradle
  charts/et-sya-api/Chart.yaml
  charts/et-sya-api/values.preview.template.yaml
  charts/et-sya-api/values.yaml
  src/contractTest/java/uk/gov/hmcts/reform/et/syaapi/consumer/document/PdfGenerationServiceConsumerTest.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/config/NotificationsConfiguration.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/exception/NotificationException.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/notification/NotificationsProperties.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/NotificationService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/et/syaapi/model/AcasCertificateTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/notification/NotificationPropertiesTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/utils/TestConstants.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-94

#97 bump spring boot to 2.7.0
  build.gradle
Labels: ns:et, prd:et, rel:et-sya-api-pr-97

#92 RET 1026 - RESTful endpoint to return a stubbed response stream of a Hello World PDF
  src/main/java/uk/gov/hmcts/reform/et/syaapi/controllers/DocumentGenerationController.java
  src/main/resources/HelloWorld.pdf
  src/test/java/uk/gov/hmcts/reform/et/syaapi/controllers/DocumentGenerationControllerTest.java
  src/test/resources/requests/caseId.json
Labels: ns:et, prd:et, rel:et-sya-api-pr-92

#98 Remove dependency upon external gov.uk notify and cleanup unit tests
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/NotificationServiceTest.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-98

#99 Updated Jenkins file to sync with 'perftest' environment
  Jenkinsfile_CNP
Labels: ns:et, prd:et, rel:et-sya-api-pr-99

#95 Ret 1455
  README.md
  build.gradle
  charts/et-sya-api/Chart.yaml
  charts/et-sya-api/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/et/syaapi/BaseFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/et/syaapi/CreateUser.java
  src/functionalTest/java/uk/gov/hmcts/reform/et/syaapi/IdamTestApiRequests.java
  src/functionalTest/java/uk/gov/hmcts/reform/et/syaapi/ManageCaseControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/et/syaapi/Role.java
  src/functionalTest/resources/application.properties
  src/functionalTest/resources/requests/caseData.json
  src/integrationTest/java/uk/gov/hmcts/reform/et/syaapi/controllers/ManageCaseControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/et/syaapi/controllers/ResourceLoader.java
  src/integrationTest/resources/requests/caseData.json
  src/integrationTest/resources/responses/caseDetails.json
  src/integrationTest/resources/responses/caseListDetails.json
  src/integrationTest/resources/responses/caseStartEvent.json
  src/main/java/uk/gov/hmcts/reform/et/syaapi/controllers/ManageCaseController.java
  src/main/resources/application.properties
  src/smokeTest/java/uk/gov/hmcts/reform/et/syaapi/smoketests/SmokeTest.java
  src/smokeTest/java/uk/gov/hmcts/reform/et/syaapi/smoketests/SmokeTestConfiguration.java
  src/smokeTest/resources/application.properties
Labels: ns:et, prd:et, rel:et-sya-api-pr-95
