Repository hmcts/et-sya-api, pull requests merged in 2022-04, with the labels that each got.

#47 Feature/ret 1446 - Use ET1CaseData Model
  build.gradle
  src/main/java/uk/gov/hmcts/reform/et/syaapi/models/EmploymentCaseData.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseService.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/CaseServiceTest.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-47

#54 Updated ReadMe with OpenAPI details
  README.md
Labels: ns:et, prd:et, rel:et-sya-api-pr-54

#61 update config to use correct microservice name
  src/main/resources/application.yaml
Labels: ns:et, prd:et, rel:et-sya-api-pr-61

#71 Ret 1463
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/et/syaapi/controllers/ManageCaseController.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/helper/CaseDetailsConverter.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/helper/EmployeeObjectMapper.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseService.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/controllers/ManageCaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/helper/CaseDetailsConverterTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/helper/EmploymentObjectMapperTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/CaseServiceTest.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-71

#74 Ret 1025 docmosis
  build.gradle
  charts/et-sya-api/Chart.yaml
  charts/et-sya-api/values.yaml
  config/checkstyle/checkstyle.xml
  src/main/java/uk/gov/hmcts/reform/et/syaapi/config/RestTemplateConfiguration.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/models/ClaimCaseDocument.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/models/TornadoDocument.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/DocumentGenerationException.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/DocumentGenerationService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/DocumentGenerationServiceTest.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-74

#77 Bump packages
  build.gradle
Labels: ns:et, prd:et, rel:et-sya-api-pr-77
