Repository hmcts/et-sya-api, pull requests merged in 2023-07, with the labels that each got.

#400 Fix decision state update
  src/main/java/uk/gov/hmcts/reform/et/syaapi/helper/TseApplicationHelper.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/models/AdminDecisionNotificationStateUpdateRequest.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/AdminDecisionNotificationService.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/controllers/AdminDecisionNotificationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/helper/TseApplicationHelperTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/model/TestData.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/AdminDecisionNotificationServiceTest.java
  src/test/resources/requests/adminNotificationUpdateRequest.json
  src/test/resources/requests/caseData.json
  src/test/resources/responses/updateCaseEventResponse.json
Labels: ns:et, prd:et, rel:et-sya-api-pr-400

#401 Fixing Java 8 LocalDateTime parse issue
  build.gradle
  src/main/java/uk/gov/hmcts/reform/et/syaapi/helper/EmployeeObjectMapper.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseService.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-401

#402 RET-3890. Add identical shortDescription for supporting document of claimant TSE apps
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/ApplicationService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseService.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/ApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/CaseServiceTest.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-402

#406 Fix url parameter to include link directly to case page
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/NotificationService.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-406

#410 Add short description to supporting material response doc
  src/main/java/uk/gov/hmcts/reform/et/syaapi/helper/TseApplicationHelper.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/helper/TseApplicationHelperTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/ApplicationServiceTest.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-410

#407 Add functional test artifacts
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  src/functionalTest/java/uk/gov/hmcts/reform/et/syaapi/IdamTestApiRequests.java
  src/functionalTest/java/uk/gov/hmcts/reform/et/syaapi/ManageCaseControllerFunctionalTest.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-407

#416 Update terraform provider version
  infrastructure/.terraform-version
  infrastructure/state.tf
  renovate.json
Labels: ns:et, prd:et, add-or-update, rel:et-sya-api-pr-416

#415 RET-2857 Pact Test Updates
  src/contractTest/java/uk/gov/hmcts/reform/et/syaapi/consumer/ccd/CcdGetCasesByCaseIdPactTest.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-415
