Repository hmcts/et-sya-api, pull requests merged in 2023-10, with the labels that each got.

#529 RET-4021: Display notification banner on Tribunal Response
  build.gradle
  src/main/java/uk/gov/hmcts/reform/et/syaapi/controllers/SendNotificationController.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/SendNotificationService.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/SendNotificationServiceTest.java
  src/test/resources/responses/updateCaseEventResponse.json
Labels: ns:et, prd:et, rel:et-sya-api-pr-529, enable_keep_helm

#541 Bump data model
  build.gradle
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/CaseServiceTest.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-541

#570 Remove startup error message
  build.gradle
Labels: ns:et, prd:et, enable_keep_helm, rel:et-sya-api-pr-570

#522 Set categoryIds for documents
  build.gradle
  src/main/java/uk/gov/hmcts/reform/et/syaapi/constants/DocumentCategoryConstants.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseDocumentService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseService.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/CaseServiceTest.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-522

#579 RET 3092 Claimant Bundles CYA
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/et/syaapi/controllers/ManageCaseControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/controllers/ManageCaseController.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/enums/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/models/ClaimantBundlesRequest.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/BundlesService.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/controllers/ManageCaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/model/TestData.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/BundlesServiceTest.java
  src/test/resources/requests/claimantBundlesRequest.json
Labels: ns:et, prd:et, add-or-update, rel:et-sya-api-pr-579

#603 RET-4062 - Contact the Tribunal
  Jenkinsfile_CNP
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/et/syaapi/StoreCaseControllerFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/et/syaapi/controllers/StoreCaseControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/controllers/StoreCaseController.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/enums/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/models/SubmitStoredApplicationRequest.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/notification/NotificationsProperties.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/ApplicationService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/StoredApplicationService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/et/syaapi/controllers/StoreCaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/model/TestData.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/StoredApplicationServiceTest.java
  src/test/resources/requests/submitStoredApplication.json
Labels: ns:et, prd:et, add-or-update, enable_keep_helm, rel:et-sya-api-pr-603

#580 RET-4328 - Create hub links update service
  build.gradle
  charts/et-sya-api/Chart.yaml
  charts/et-sya-api/values.preview.template.yaml
  charts/et-sya-api/values.yaml
  src/main/java/uk/gov/hmcts/reform/et/syaapi/SyaApiApplication.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/controllers/ManageCaseController.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/enums/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/FeatureToggleService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/HubLinkService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/et/syaapi/controllers/ManageCaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/FeatureToggleServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/HubLinkServiceTest.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-580

#605 Fix Master build
  charts/et-sya-api/Chart.yaml
  charts/et-sya-api/values.yaml
Labels: ns:et, prd:et, rel:et-sya-api-pr-605

#549 Run FTs on PR builds
  Jenkinsfile_CNP
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/HubLinkService.java
Labels: ns:et, prd:et, enable_keep_helm, rel:et-sya-api-pr-549

#596 Sonar code smells
  src/main/java/uk/gov/hmcts/reform/et/syaapi/controllers/AcasController.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/controllers/DocumentController.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/helper/JurisdictionCodesMapper.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/VerifyTokenService.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/config/PostcodeToOfficeLookupTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/helper/TseApplicationHelperTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/notification/NotificationPropertiesTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/search/QueryTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/AdminDecisionNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/ApplicationServiceTest.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-596

#606 RET-4062 - Respond to Application
  src/functionalTest/java/uk/gov/hmcts/reform/et/syaapi/StoreCaseControllerFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/et/syaapi/controllers/StoreCaseControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/controllers/StoreCaseController.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/helper/TseApplicationHelper.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/models/UpdateStoredRespondToApplicationRequest.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/ApplicationService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/StoredApplicationService.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/controllers/StoreCaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/ApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/StoredApplicationServiceTest.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-606

#610 RET-4062 - Respond to Tribunal
  src/integrationTest/java/uk/gov/hmcts/reform/et/syaapi/controllers/StoreCaseControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/controllers/StoreCaseController.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/models/UpdateStoredRespondToTribunalRequest.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/SendNotificationService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/StoredApplicationService.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/controllers/StoreCaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/model/TestData.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/StoredApplicationServiceTest.java
  src/test/resources/responses/sendNotificationCollectionResponse.json
Labels: ns:et, prd:et, rel:et-sya-api-pr-610

#618 RET-4062 - Fix
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/NotificationService.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-618
