Repository hmcts/et-sya-api, pull requests merged in 2023-01, with the labels that each got.

#229 RET-2899, RET-2903 and RET-2961 - hotfixes
  build.gradle
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/AcasService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/AssignCaseToLocalOfficeService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfMapperService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfMapperUtil.java
  src/main/resources/ET1_2222.pdf
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/et/syaapi/helper/AssignCaseToLocalOfficeServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/model/TestData.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfServiceTest.java
  src/test/resources/requests/caseRequestEnglandWales.json
Labels: ns:et, prd:et, rel:et-sya-api-pr-229

#236 RET-3007 Pension Contribution - Not Sure Option
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfMapperService.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-236

#237 Pet pi28 s6
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfMapperService.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-237

#239 Allow all test responses
  src/test/java/uk/gov/hmcts/reform/et/syaapi/model/TestData.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-239

#238 RET-3045: Fix for respondent details being reset
  src/main/java/uk/gov/hmcts/reform/et/syaapi/controllers/ManageCaseController.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/models/HubLinksStatusesRequest.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseService.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/controllers/ManageCaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/CaseServiceTest.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-238

#240 1.2 - Dependency bump
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:et, prd:et, rel:et-sya-api-pr-240

#241 Ret-3043 Updates for PDF Creation bugs
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfMapperService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfMapperUtil.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-241

#244 RET-3043 Package update for StringUtils
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfMapperService.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-244

#246 RET-3075
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfMapperService.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-246

#245 RET-2616. Create submit-claimant-application endpoint.
  build.gradle
  src/main/java/uk/gov/hmcts/reform/et/syaapi/controllers/ManageCaseController.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/models/ClaimantApplicationRequest.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-245

#251 Jenkins config
  Jenkinsfile_nightly
  build.gradle
Labels: ns:et, prd:et, rel:et-sya-api-pr-251

#253 Jenkins fix
  Jenkinsfile_nightly
  build.gradle
Labels: ns:et, prd:et, rel:et-sya-api-pr-253
