Repository hmcts/et-sya-api, pull requests merged in 2023-11, with the labels that each got.

#620 RET-4062 - Fix
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/StoredApplicationService.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-620

#609 Ret 4286 - Feature Flag Bundles
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/et/syaapi/controllers/BundlesControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/et/syaapi/controllers/ManageCaseControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/controllers/BundlesController.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/enums/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/models/ClaimantBundlesRequest.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/BundlesService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/FeatureToggleService.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/controllers/BundlesControllerTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/model/TestData.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/BundlesServiceTest.java
  src/test/resources/requests/claimantBundlesRequest.json
Labels: ns:et, prd:et, rel:et-sya-api-pr-609

#627 Fix code smells
  src/main/java/uk/gov/hmcts/reform/et/syaapi/config/WebConfig.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/config/interceptors/RequestInterceptor.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/controllers/DocumentController.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/helper/NotificationsHelper.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/helper/CaseDetailsConverterTest.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-627

#632 RET-4494
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfService.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-632

#617 Ret 4104 - Welsh- Notifications emails for case progression
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/et/syaapi/ManageCaseControllerFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/constants/EtSyaConstants.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/notification/NotificationsProperties.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/ApplicationService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/FeatureToggleService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/NotificationService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/et/syaapi/model/CaseTestData.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/ApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/FeatureToggleServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/utils/TestConstants.java
  src/test/resources/responses/caseDetailsWithCaseData.json
Labels: ns:et, prd:et, add-or-update, enable_keep_helm, rel:et-sya-api-pr-617

#635 RET-3104 + RET-3105 - Send bundles email to respondent and tribunal
  src/main/java/uk/gov/hmcts/reform/et/syaapi/helper/NotificationsHelper.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/notification/NotificationsProperties.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/BundlesService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/NotificationService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/et/syaapi/helper/NotificationHelperTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/BundlesServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/CaseServiceBootTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/NotificationServiceTest.java
  src/test/resources/requests/caseData.json
Labels: ns:et, prd:et, rel:et-sya-api-pr-635

#608 Release 2.1 - Work Allocation
  src/main/java/uk/gov/hmcts/reform/et/syaapi/helper/TseApplicationHelper.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/ApplicationService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/FeatureToggleService.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/helper/TseApplicationHelperTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/ApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/FeatureToggleServiceTest.java
Labels: ns:et, prd:et, add-or-update, rel:et-sya-api-pr-608

#659 RET-4400 bump data model
  build.gradle
Labels: ns:et, prd:et, rel:et-sya-api-pr-659

#643 RET-4020 - Changing ACAS Cert to show a Respondent's name if one matches
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfService.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-643
