Repository hmcts/et-sya-api, pull requests merged in 2023-12, with the labels that each got.

#670 RET-4062 - uploadTseCyaAsPdf
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/ApplicationService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/StoredApplicationService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/utils/ClaimantTseUtil.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-670

#675 Update suppressions.xml
  config/owasp/suppressions.xml
Labels: ns:et, prd:et, rel:et-sya-api-pr-675

#676 RET-4062 - Add Test
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/utils/ClaimantTseUtil.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/CaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/utils/ClaimantTseUtilTest.java
Labels: ns:et, prd:et, add-or-update, rel:et-sya-api-pr-676

#685 Ret 4393 - PSE- Display response from claimant
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/SendNotificationService.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/model/TestData.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/SendNotificationServiceTest.java
  src/test/resources/responses/updateCaseEventResponseWithClaimantResponse.json
Labels: ns:et, prd:et, enable_keep_helm, rel:et-sya-api-pr-685
