Repository hmcts/et-sya-api, pull requests merged in 2023-06, with the labels that each got.

#375 DTSPO-13810 reschedule nightlybuilds to start at 8am
  Jenkinsfile_nightly
Labels: ns:et, prd:et, rel:et-sya-api-pr-375

#378 RET-3596: Rule 92 Screen displayed when other party is not a system user
  build.gradle
  src/main/java/uk/gov/hmcts/reform/et/syaapi/constants/EtSyaConstants.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseService.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/CaseServiceTest.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-378

#371 PET-1.1.1.4
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfMapperService.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-371

#381 RET-3626 Bug fix - claimant response to application without an upload
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfService.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/model/TestData.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/ApplicationServiceTest.java
  src/test/resources/requests/respondToApplicationNoUpload.json
Labels: ns:et, prd:et, rel:et-sya-api-pr-381

#384 RET-3702
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:et, prd:et, rel:et-sya-api-pr-384

#387 Updated springboot patch version and suppressed vuns that don't have …
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:et, prd:et, rel:et-sya-api-pr-387

#382 Ret 3684. Status update for respondents applications.
  build.gradle
  src/main/java/uk/gov/hmcts/reform/et/syaapi/controllers/ManageCaseController.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/models/ChangeApplicationStatusRequest.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/ApplicationService.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/controllers/ManageCaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/model/TestData.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/ApplicationServiceTest.java
  src/test/resources/requests/viewAnApplication.json
Labels: ns:et, prd:et, rel:et-sya-api-pr-382

#392 Update build.gradle
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:et, prd:et, rel:et-sya-api-pr-392

#391 Rte 3684
  build.gradle
  config/owasp/suppressions.xml
  config/pmd/ruleset.xml
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/ApplicationService.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/ApplicationServiceTest.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-391

#383 PET-1.1.2.2
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfMapperService.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/notification/NotificationPropertiesTest.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-383

#395 RET 3796, 3797 Emails to tribunal, claimant on response to tribunal order within an application
  src/main/java/uk/gov/hmcts/reform/et/syaapi/models/RespondToApplicationRequest.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/notification/NotificationsProperties.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/ApplicationService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/SendNotificationService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/ApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/NotificationServiceTest.java
  src/test/resources/requests/respondToApplication.json
Labels: ns:et, prd:et, rel:et-sya-api-pr-395

#394 Ret 3798. Email respondent when claimant replies to tribunal
  config/pmd/ruleset.xml
  src/main/java/uk/gov/hmcts/reform/et/syaapi/notification/NotificationsProperties.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/ApplicationService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/SendNotificationService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/et/syaapi/model/TestData.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/ApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/NotificationServiceTest.java
  src/test/resources/requests/respondToApplicationNoUpload.json
Labels: ns:et, prd:et, rel:et-sya-api-pr-394
