Repository hmcts/et-sya-api, pull requests merged in 2023-05, with the labels that each got.

#354 Bump Spring Security for CVE
  build.gradle
Labels: ns:et, prd:et, rel:et-sya-api-pr-354

#355 Ret 3513
  src/main/resources/application.properties
  src/main/resources/application.yaml
Labels: ns:et, prd:et, rel:et-sya-api-pr-355

#357 ET1 Doc type label correction
  build.gradle
  src/main/java/uk/gov/hmcts/reform/et/syaapi/constants/EtSyaConstants.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseService.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-357

#361 RET-3549: Align with data-model 2
  build.gradle
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/SendNotificationService.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-361

#362 RET-3513. Fix submit claim emails
  charts/et-sya-api/Chart.yaml
  charts/et-sya-api/values.yaml
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/NotificationService.java
  src/main/resources/application.yaml
Labels: ns:et, prd:et, rel:et-sya-api-pr-362

#336 PET-1.1.1.3 Release PR
  .gitignore
  Dockerfile
  build.gradle
  charts/et-sya-api/Chart.yaml
  charts/et-sya-api/values.yaml
  lib/AI-Agent.xml
  lib/applicationinsights.json
  src/functionalTest/java/uk/gov/hmcts/reform/et/syaapi/ManageCaseControllerFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/et/syaapi/config/SwaggerPublisherTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/et/syaapi/controllers/GetWelcomeTest.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/controllers/DocumentGenerationController.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseService.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-336

#363 Ret 3513. Update error email template
  charts/et-sya-api/values.yaml
  src/main/java/uk/gov/hmcts/reform/et/syaapi/notification/NotificationsProperties.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/et/syaapi/notification/NotificationPropertiesTest.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-363

#358 RET-3500
  src/functionalTest/java/uk/gov/hmcts/reform/et/syaapi/ManageCaseControllerFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/constants/EtSyaConstants.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseService.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-358

#367 RET-3153. Clean application.yaml - move notification properties around
  charts/et-sya-api/values.yaml
  src/main/java/uk/gov/hmcts/reform/et/syaapi/notification/NotificationsProperties.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/ApplicationService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/NotificationService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/ApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/NotificationServiceTest.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-367

#368 RET-3613
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfMapperService.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-368

#264 Release 1.1.2
  build.gradle
  charts/et-sya-api/Chart.yaml
  charts/et-sya-api/values.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/et/syaapi/constants/EtSyaConstants.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/controllers/AcasController.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/models/CaseDocumentAcasResponse.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/notification/NotificationsProperties.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/NotificationService.java
  src/main/resources/application-cftlib.yaml
  src/main/resources/application.properties
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/et/syaapi/controllers/AcasControllerTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/model/TestData.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/notification/NotificationPropertiesTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/CaseServiceTest.java
  src/test/resources/responses/caseDetailsEnglandAcasDocs.json
Labels: ns:et, prd:et, rel:et-sya-api-pr-264

#376 CVE-2023-28709
  build.gradle
Labels: ns:et, prd:et, rel:et-sya-api-pr-376
