Repository hmcts/et-sya-api, pull requests merged in 2023-09, with the labels that each got.

#499 RET-4141 - Set positionType for case on submission
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseService.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-499

#506 RET-4156
  src/functionalTest/java/uk/gov/hmcts/reform/et/syaapi/AcasControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/et/syaapi/FunctionalTestBase.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseService.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/CaseServiceTest.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-506

#508 RET-4162
  charts/et-sya-api/Chart.yaml
  charts/et-sya-api/values.yaml
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/AcasServiceTest.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-508

#430 PET-1.2.1
  build.gradle
  src/main/java/uk/gov/hmcts/reform/et/syaapi/constants/EtSyaConstants.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/helper/NotificationsHelper.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/helper/TseApplicationHelper.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/models/ClaimantResponseCya.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/models/GenericTseApplication.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/utils/ClaimantTseUtil.java
  src/main/resources/application-cftlib.yaml
  src/test/java/uk/gov/hmcts/reform/et/syaapi/helper/NotificationHelperTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/helper/TseApplicationHelperTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/model/CaseTestData.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/CaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/utils/ClaimantTseUtilTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/utils/data/TestDataProvider.java
Labels: ns:et, prd:et, add-or-update, rel:et-sya-api-pr-430

#411 Enabler for Release 2.1
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/et/syaapi/enums/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/ApplicationService.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/ApplicationServiceTest.java
Labels: ns:et, prd:et, add-or-update, rel:et-sya-api-pr-411

#539 Temp Fix Test in Rule-92 branch
  build.gradle
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/CaseServiceTest.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-539

#546 Update renovate.json
  .github/renovate.json
Labels: ns:et, prd:et, rel:et-sya-api-pr-546
