Repository hmcts/et-sya-api, pull requests merged in 2023-04, with the labels that each got.

#317 Ret-3168 Update for Code Quality
  build.gradle
  src/main/java/uk/gov/hmcts/reform/et/syaapi/constants/EtSyaConstants.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseOfficeService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/util/ServiceUtil.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/config/GlobalExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/helper/AssignCaseToLocalOfficeServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/model/TestData.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/AcasServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/CaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/utils/ServiceUtilTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/utils/TestConstants.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-317

#319 RET-2927
  src/main/java/uk/gov/hmcts/reform/et/syaapi/controllers/ManageCaseController.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/enums/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/models/SendNotificationStateUpdateRequest.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/SendNotificationService.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/controllers/ManageCaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/model/TestData.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/SendNotificationServiceTest.java
  src/test/resources/requests/sendNotificationStateUpdateRequest.json
  src/test/resources/responses/updateCaseEventResponse.json
Labels: ns:et, prd:et, rel:et-sya-api-pr-319

#297 PET-1.1.1.2 ET-PET PI29 Sprint 3
  build.gradle
  charts/et-sya-api/Chart.yaml
  charts/et-sya-api/values.preview.template.yaml
  charts/et-sya-api/values.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/et/syaapi/constants/EtSyaConstants.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/controllers/ManageCaseController.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/notification/NotificationsProperties.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/AcasService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseOfficeService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/util/ServiceUtil.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/et/syaapi/config/GlobalExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/helper/AssignCaseToLocalOfficeServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/model/TestData.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/AcasServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/CaseServiceBootTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/CaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/utils/ServiceUtilTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/utils/TestConstants.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-297

#326 Fix Emails
  charts/et-sya-api/Chart.yaml
  charts/et-sya-api/values.yaml
Labels: ns:et, prd:et, rel:et-sya-api-pr-326

#321 Ret 2829 Apps & Case Mgmt common – Generate email notification to Respondent when Claimant responds to an application
  charts/et-sya-api/values.yaml
  config/pmd/ruleset.xml
  src/main/java/uk/gov/hmcts/reform/et/syaapi/notification/NotificationsProperties.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/ApplicationService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/NotificationService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/NotificationServiceTest.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-321

#324 Fortify issue fix
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfService.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-324

#327 RET-3464 - Mergefix
  build.gradle
  charts/et-sya-api/Chart.yaml
  charts/et-sya-api/values.preview.template.yaml
  charts/et-sya-api/values.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/et/syaapi/constants/EtSyaConstants.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/controllers/ManageCaseController.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/notification/NotificationsProperties.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/AcasService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseOfficeService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/util/ServiceUtil.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/et/syaapi/config/GlobalExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/helper/AssignCaseToLocalOfficeServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/model/TestData.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/AcasServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/CaseServiceBootTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/CaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/utils/ServiceUtilTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/utils/TestConstants.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-327

#322 Ret 3396: Update Templates with Dynamic Links
  charts/et-sya-api/values.yaml
  src/main/java/uk/gov/hmcts/reform/et/syaapi/constants/EtSyaConstants.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/models/CaseDocument.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/notification/NotificationsProperties.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/NotificationService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/et/syaapi/model/TestData.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-322

#332 Update et-data-model version number
  build.gradle
Labels: ns:et, prd:et, rel:et-sya-api-pr-332

#328 Ret 2829 Apps & Case Mgmt common – Generate email notification to Respondent when Claimant responds to an application (CitizenUI)
  src/main/java/uk/gov/hmcts/reform/et/syaapi/constants/EtSyaConstants.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/ApplicationService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/NotificationService.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/NotificationServiceTest.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-328

#334 RET-3476 Elastic search max limit update
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseService.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/CaseServiceTest.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-334

#337 RET-3476 Resolving Vulnerabilities
  build.gradle
Labels: ns:et, prd:et, rel:et-sya-api-pr-337

#338 RET-3476 Functional Test Update
  src/functionalTest/java/uk/gov/hmcts/reform/et/syaapi/ManageCaseControllerFunctionalTest.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-338

#333 RET-3098 - Java and app insights update
  .gitignore
  Dockerfile
  build.gradle
  charts/et-sya-api/Chart.yaml
  charts/et-sya-api/values.yaml
  lib/AI-Agent.xml
  lib/applicationinsights.json
  src/integrationTest/java/uk/gov/hmcts/reform/et/syaapi/config/SwaggerPublisherTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/et/syaapi/controllers/GetWelcomeTest.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/controllers/DocumentGenerationController.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-333

#339 Ret 3098
  lib/applicationinsights.json
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseService.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-339

#341 ES Fix
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseService.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/CaseServiceTest.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-341

#343 Bump chart
  charts/et-sya-api/Chart.yaml
Labels: ns:et, prd:et, rel:et-sya-api-pr-343

#344 Add timeout to functional test
  src/functionalTest/java/uk/gov/hmcts/reform/et/syaapi/ManageCaseControllerFunctionalTest.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-344

#345 RET-3495 Adding timeout to functional test
  build.gradle
  charts/et-sya-api/Chart.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/et/syaapi/ManageCaseControllerFunctionalTest.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-345

#347 Ret 2931/2932 - send email notifications for response to a notification
  build.gradle
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/SendNotificationService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/SendNotificationServiceTest.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-347

#348 CVE Fixes
  build.gradle
Labels: ns:et, prd:et, rel:et-sya-api-pr-348

#349 Merge master into pet
  build.gradle
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/et/syaapi/ManageCaseControllerFunctionalTest.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-349

#350 RET-2929_bug_fix
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/SendNotificationService.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-350
