Repository hmcts/et-sya-api, pull requests merged in 2023-03, with the labels that each got.

#285 Enable Slack Notifications
  Jenkinsfile_CNP
Labels: ns:et, prd:et, rel:et-sya-api-pr-285

#287 RET-3288 Update of Welsh PDF file
  src/main/resources/CY_ET1_2222.pdf
Labels: ns:et, prd:et, rel:et-sya-api-pr-287

#286 Bump packages
  build.gradle
  config/pmd/ruleset.xml
  src/contractTest/java/uk/gov/hmcts/reform/et/syaapi/consumer/SpringBootContractTestBase.java
  src/contractTest/java/uk/gov/hmcts/reform/et/syaapi/consumer/ccd/CcdGetCasesByCaseIdPactTest.java
  src/contractTest/java/uk/gov/hmcts/reform/et/syaapi/consumer/ccd/StartEventForCitizenConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/et/syaapi/consumer/ccd/StartForCitizenConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/et/syaapi/consumer/ccd/SubmitEventForCitizenConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/et/syaapi/consumer/ccd/SubmitForCitizenConsumerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/et/syaapi/AcasControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/et/syaapi/DocumentControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/et/syaapi/DocumentUploadControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/et/syaapi/FunctionalTestBase.java
  src/functionalTest/java/uk/gov/hmcts/reform/et/syaapi/ManageCaseControllerFunctionalTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/controllers/AcasControllerTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/model/TestData.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/utils/TestConstants.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-286

#290 Fix merge commit
  config/owasp/suppressions.xml
Labels: ns:et, prd:et, rel:et-sya-api-pr-290

#288 Fix merge issues
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfService.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfServiceTest.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-288

#289 Ret 2785 - Endpoint for saving claimant response to application from respondent
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/et/syaapi/controllers/ManageCaseControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/controllers/ManageCaseController.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/helper/CaseDetailsConverter.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/helper/TseApplicationHelper.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/models/RespondToApplicationRequest.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/ApplicationService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfService.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/controllers/ManageCaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/helper/CaseDetailsConverterTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/model/TestData.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/ApplicationServiceTest.java
  src/test/resources/requests/respondToApplication.json
  src/test/resources/responses/updateCaseEventResponse.json
Labels: ns:et, prd:et, rel:et-sya-api-pr-289

#295 Use SUBMIT_CLAIAMNT_TSE event
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/ApplicationService.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/ApplicationServiceTest.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-295

#293 RET-3008 Switch data-store citizens/cases query to Elastic Search - EMPLOYMENT
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseService.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/model/TestData.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/CaseServiceTest.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-293

#298 RET-2961 - wrong pdf template
  src/main/resources/application.yaml
Labels: ns:et, prd:et, rel:et-sya-api-pr-298

#299 Ret 2786 final
  src/main/java/uk/gov/hmcts/reform/et/syaapi/enums/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/ApplicationService.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/ApplicationServiceTest.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-299

#292 RET-3224
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseService.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/CaseServiceTest.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-292

#302 Ret 2828
  charts/et-sya-api/values.yaml
  src/main/java/uk/gov/hmcts/reform/et/syaapi/notification/NotificationsProperties.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/ApplicationService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/NotificationService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/NotificationServiceTest.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-302

#304 RET-3356: Fix for View All Application page not displaying full app type
  build.gradle
  src/main/java/uk/gov/hmcts/reform/et/syaapi/helper/NotificationsHelper.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfService.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-304

#305 ret-3168 implementation reimported to new branch
  build.gradle
  charts/et-sya-api/Chart.yaml
  charts/et-sya-api/values.preview.template.yaml
  charts/et-sya-api/values.yaml
  src/main/java/uk/gov/hmcts/reform/et/syaapi/controllers/ManageCaseController.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/notification/NotificationsProperties.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/util/CaseServiceUtil.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/CaseServiceBootTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/CaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/utils/TestConstants.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-305

#309 PET 1.1.1.2 fix
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/CaseServiceTest.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-309

#310 update tomcat to version 9.0.73
  build.gradle
Labels: ns:et, prd:et, rel:et-sya-api-pr-310

#312 update org.springframework.boot to v2.7.10
  build.gradle
Labels: ns:et, prd:et, rel:et-sya-api-pr-312

#313 RET-3055
  build.gradle
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/ApplicationService.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-313

#314 RET-3168
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/AcasService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/util/CaseServiceUtil.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/util/ServiceUtil.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/CaseServiceBootTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/CaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/utils/TestConstants.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-314

#315 RET 2827 - email to Claimant for Responding to an application
  charts/et-sya-api/values.yaml
  src/main/java/uk/gov/hmcts/reform/et/syaapi/notification/NotificationsProperties.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/ApplicationService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/NotificationService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/ApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/NotificationServiceTest.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-315
