Repository hmcts/et-sya-api, pull requests merged in 2023-02, with the labels that each got.

#254 RET-3133 Upgrade to helm version 4.0.11
  charts/et-sya-api/Chart.yaml
Labels: ns:et, prd:et, rel:et-sya-api-pr-254

#256 Ret 3134 Terraform & Azurerm Upgrade
  infrastructure/.terraform-version
  infrastructure/main.tf
  infrastructure/state.tf
Labels: ns:et, prd:et, add-or-update, rel:et-sya-api-pr-256

#257 RET-2617 - Bump data model
  build.gradle
Labels: ns:et, prd:et, rel:et-sya-api-pr-257

#258 RET-2997
  build.gradle
Labels: ns:et, prd:et, add-or-update, rel:et-sya-api-pr-258

#259 Update Welsh email template to prod
  charts/et-sya-api/values.yaml
Labels: ns:et, prd:et, rel:et-sya-api-pr-259

#260 RET-2289: Et-common version bump to 1.0.11
  build.gradle
Labels: ns:et, prd:et, rel:et-sya-api-pr-260

#255 PET-1.1.0.7
  build.gradle
  charts/et-sya-api/Chart.yaml
  infrastructure/.terraform-version
  infrastructure/main.tf
  infrastructure/state.tf
Labels: ns:et, prd:et, add-or-update, rel:et-sya-api-pr-255

#261 RET-2289
  build.gradle
Labels: ns:et, prd:et, rel:et-sya-api-pr-261

#263 TerraformForAPIAccount
  infrastructure/main.tf
Labels: ns:et, prd:et, add-or-update, rel:et-sya-api-pr-263

#262 RET-2296
  build.gradle
  charts/et-sya-api/Chart.yaml
  charts/et-sya-api/values.preview.template.yaml
  charts/et-sya-api/values.yaml
  src/main/java/uk/gov/hmcts/reform/et/syaapi/constants/EtSyaConstants.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/controllers/AcasController.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/models/CaseDocumentAcasResponse.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseService.java
  src/main/resources/application-cftlib.yaml
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/et/syaapi/controllers/AcasControllerTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/model/TestData.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/CaseServiceTest.java
  src/test/resources/responses/caseDetailsEnglandAcasDocs.json
Labels: ns:et, prd:et, add-or-update, rel:et-sya-api-pr-262

#265 RET-2296 Chart keys
  charts/et-sya-api/Chart.yaml
  charts/et-sya-api/values.preview.template.yaml
  charts/et-sya-api/values.yaml
Labels: ns:et, prd:et, rel:et-sya-api-pr-265

#266 Pet pi28 s6
  charts/et-sya-api/Chart.yaml
  charts/et-sya-api/values.preview.template.yaml
  charts/et-sya-api/values.yaml
  infrastructure/main.tf
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfMapperService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfMapperUtil.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-266

#268 ACAS Revision Bump
  infrastructure/et_acas_api.tf
Labels: ns:et, prd:et, destroy, rel:et-sya-api-pr-268

#243 Ret 2816 - Create PDF CYA page for 'Contact the Tribunal about something else'
  src/main/java/uk/gov/hmcts/reform/et/syaapi/controllers/ManageCaseController.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/enums/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/models/ClaimantApplicationRequest.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/models/GenericTseApplication.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseDocumentService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/DocumentGenerationService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/et/syaapi/model/TestData.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/CaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfServiceTest.java
  src/test/resources/requests/caseDataWithTse.json
  src/test/resources/requests/claimantTse.json
  src/test/resources/responses/caseDetails.json
  src/test/resources/responses/tsePdfUploadResponse.json
Labels: ns:et, prd:et, rel:et-sya-api-pr-243

#272 IDAM Access Config changes
  charts/et-sya-api/Chart.yaml
  charts/et-sya-api/values.preview.template.yaml
  charts/et-sya-api/values.yaml
  src/main/resources/application.yaml
Labels: ns:et, prd:et, rel:et-sya-api-pr-272

#270 RET-2758
  build.gradle
  charts/et-sya-api/values.yaml
  src/main/java/uk/gov/hmcts/reform/et/syaapi/controllers/ManageCaseController.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/helper/NotificationsHelper.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/notification/NotificationsProperties.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/ApplicationService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/NotificationService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/et/syaapi/controllers/ManageCaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/model/TestData.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/CaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/NotificationServiceTest.java
  src/test/resources/responses/caseDetails.json
  src/test/resources/responses/claimantTse.json
Labels: ns:et, prd:et, rel:et-sya-api-pr-270

#273 Fix caseId
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/ApplicationService.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-273

#271 Ret 2816 upload supporting document
  src/main/java/uk/gov/hmcts/reform/et/syaapi/constants/EtSyaConstants.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/ApplicationService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfService.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/CaseServiceTest.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-271

#276 Fix build
  src/main/java/uk/gov/hmcts/reform/et/syaapi/constants/EtSyaConstants.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-276

#277 Add null check
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseService.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-277

#278 RET-2815 + RET-2814
  charts/et-sya-api/values.yaml
  src/main/java/uk/gov/hmcts/reform/et/syaapi/constants/EtSyaConstants.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/controllers/AcasController.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/controllers/ManageCaseController.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/helper/NotificationsHelper.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/notification/NotificationsProperties.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/ApplicationService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/NotificationService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/et/syaapi/controllers/ManageCaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/helper/NotificationHelperTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/model/TestData.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/ApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/CaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/NotificationServiceTest.java
  src/test/resources/requests/caseData.json
  src/test/resources/requests/claimantTse.json
  src/test/resources/requests/claimantTseRequest.json
  src/test/resources/responses/caseDetailsWithCaseData.json
Labels: ns:et, prd:et, rel:et-sya-api-pr-278

#280 RET-2814 - Add logging and handling
  build.gradle
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/ApplicationService.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-280

#282 Suppress CVE
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:et, prd:et, rel:et-sya-api-pr-282

#284 Update app insights key
  charts/et-sya-api/values.yaml
  src/main/resources/application.yaml
Labels: ns:et, prd:et, rel:et-sya-api-pr-284
