Repository hmcts/et-sya-api, pull requests merged in 2024-07, with the labels that each got.

#900 RET-5115
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/ApplicationService.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-900

#945 Jurisdiction Code updates
  src/main/java/uk/gov/hmcts/reform/et/syaapi/constants/JurisdictionCodesConstants.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/helper/JurisdictionCodesMapper.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-945

#949 RET-5103
  build.gradle
  src/main/java/uk/gov/hmcts/reform/et/syaapi/config/PostcodeToOfficeMappings.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/enums/ClaimType.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/enums/DiscriminationType.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/enums/PayClaimType.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseDocumentService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseOfficeService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/PostcodeToOfficeService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfDecodedMultipartFile.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfMapperService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfServiceException.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfUploadService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/utils/GenericServiceUtil.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/utils/PdfMapperClaimDescriptionUtil.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/utils/PdfMapperClaimDetailsUtil.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/utils/PdfMapperConstants.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/utils/PdfMapperEmploymentDetailsUtil.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/utils/PdfMapperHearingPreferencesUtil.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/utils/PdfMapperPersonalDetailsUtil.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/utils/PdfMapperRepresentativeUtil.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/utils/PdfMapperRespondentUtil.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/utils/PdfMapperServiceUtil.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/utils/PdfTemplateRespondentFieldNamesEnum.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/config/PostcodeToOfficeLookupTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/helper/AssignCaseToLocalOfficeServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/model/TestData.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/CaseDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/CaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/PostcodeToOfficeServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfDecodedMultipartFileTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfMapperServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfUploadServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/util/PdfMapperClaimDescriptionUtilTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/util/PdfMapperClaimDetailsUtilTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/util/PdfMapperEmploymentDetailsUtilTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/util/PdfMapperHearingPreferencesUtilTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/util/PdfMapperPersonalDetailsUtilTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/util/PdfMapperRepresentativeUtilTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/util/PdfMapperRespondentUtilTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/util/PdfMapperServiceUtilTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/utils/GenericServiceUtilTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/utils/TestConstants.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/utils/data/PdfMapperClaimDescriptionUtilTestDataProvider.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/utils/data/PdfMapperClaimDetailsUtilTestDataProvider.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/utils/data/PdfMapperEmploymentDetailsUtilTestDataProvider.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/utils/data/PdfMapperHearingPreferencesUtilTestDataProvider.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/utils/data/PdfMapperPersonalDetailsUtilTestDataProvider.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/utils/data/PdfMapperRepresentativeUtilTestDataProvider.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/utils/data/PdfMapperRespondentUtilTestDataProvider.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/utils/data/TestDataProvider.java
Labels: ns:et, prd:et, enable_keep_helm, rel:et-sya-api-pr-949
