Repository hmcts/et-sya-api, pull requests merged in 2024-01, with the labels that each got.

#554 RET-3898
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/et/syaapi/ManageCaseControllerFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/controllers/ManageCaseController.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/helper/TseApplicationHelper.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/ApplicationService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseDocumentService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/utils/ClaimantTseUtil.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/utils/DocumentUtil.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/utils/GenericServiceUtil.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/controllers/ManageCaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/helper/TseApplicationHelperTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/ApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/CaseDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/CaseServiceBootTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/CaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/utils/DocumentUtilTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/utils/GenericServiceUtilTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/utils/TestConstants.java
  src/test/resources/requests/caseData.json
  src/test/resources/responses/caseDetailsWithCaseData.json
  src/test/resources/responses/updateCaseEventResponse.json
Labels: ns:et, prd:et, add-or-update, enable_keep_helm, rel:et-sya-api-pr-554

#725 Fix file extension
  src/main/java/uk/gov/hmcts/reform/et/syaapi/helper/TseApplicationHelper.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseService.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-725

#731 Rule 92 PET Fix
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/StoredApplicationService.java
Labels: ns:et, prd:et, add-or-update, enable_keep_helm, rel:et-sya-api-pr-731
