Repository hmcts/et-sya-api, pull requests merged in 2024-05, with the labels that each got.

#854 RET-5010: ECC WA Task
  build.gradle
  src/main/java/uk/gov/hmcts/reform/et/syaapi/controllers/SendNotificationController.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/helper/NotificationsHelper.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/models/SendNotificationAddResponseRequest.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/FeatureToggleService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/SendNotificationService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/StoredRespondToTribunalService.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/FeatureToggleServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/SendNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/StoredRespondToTribunalServiceTest.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-854, aat/no-changes

#836 RET-4632
  src/main/java/uk/gov/hmcts/reform/et/syaapi/constants/EtSyaConstants.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/NotificationService.java
Labels: ns:et, prd:et, no_cleanup, enable_keep_helm, aat/add-or-update, rel:et-sya-api-pr-836

#869 RET-5035
  src/main/resources/ET1_0224.pdf
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfServiceTest.java
  src/test/resources/requests/caseData.json
Labels: ns:et, prd:et, rel:et-sya-api-pr-869

#868 RET-2857
  src/contractTest/java/uk/gov/hmcts/reform/et/syaapi/consumer/ccd/CcdGetCasesByCaseIdPactTest.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-868
