Repository hmcts/et-sya-api, pull requests merged in 2024-03, with the labels that each got.

#771 RET-4725
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/SendNotificationService.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-771

#766 Ret-4807
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/NotificationService.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/NotificationServiceTest.java
Labels: ns:et, prd:et, enable_keep_helm, rel:et-sya-api-pr-766

#413 RET-3374
  src/main/java/uk/gov/hmcts/reform/et/syaapi/constants/EtSyaConstants.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/controllers/AcasController.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/models/CaseDocumentAcasResponse.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/AcasCaseService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseDocumentService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseService.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/controllers/AcasControllerTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/AcasCaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/CaseDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/CaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/utils/data/TestDataProvider.java
  src/test/resources/responses/caseDetailsEnglandAcasDocs.json
Labels: ns:et, prd:et, add-or-update, rel:et-sya-api-pr-413

#778 Revert "RET-4725"
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/SendNotificationService.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-778

#810 Update App Insights
  Dockerfile
  charts/et-sya-api/values.preview.template.yaml
Labels: ns:et, prd:et, enable_keep_helm, rel:et-sya-api-pr-810

#803 RET-4910
  src/main/java/uk/gov/hmcts/reform/et/syaapi/controllers/AcasController.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/models/CaseDocumentAcasResponse.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/AcasCaseService.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/controllers/AcasControllerTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/AcasCaseServiceTest.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-803

#807 RET-4899
  src/functionalTest/java/uk/gov/hmcts/reform/et/syaapi/StoreCaseControllerFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/et/syaapi/controllers/StoreCaseControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/controllers/StoreCaseController.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/enums/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/models/SubmitStoredApplicationRequest.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/ApplicationService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/StoredApplicationService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/StoredRespondToApplicationSubmitService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/StoredRespondToTribunalSubmitService.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/controllers/StoreCaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/model/TestData.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/CaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/StoredApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/StoredRespondToApplicationSubmitServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/StoredRespondToTribunalSubmitServiceTest.java
Labels: ns:et, prd:et, add-or-update, enable_keep_helm, rel:et-sya-api-pr-807

#817 RET-4711 - Bump data model and common
  build.gradle
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/CaseServiceTest.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-817
