Repository hmcts/et-sya-api, pull requests merged in 2024-06, with the labels that each got.

#917 RET-5204
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfService.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-917

#923 Update postcode-office.yml
  src/main/resources/postcode-office.yml
Labels: ns:et, prd:et, rel:et-sya-api-pr-923

#932 Quick Fix - PDF Characters
  build.gradle
  src/main/java/uk/gov/hmcts/reform/et/syaapi/constants/EtSyaConstants.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfService.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-932

#924 RET-5219
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/utils/DocumentUtil.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/utils/DocumentUtilTest.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-924

#942 Fix ccd sdk
  .github/workflows/ci.yml
  build.gradle
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/SendNotificationService.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/SendNotificationServiceTest.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-942

#920 RET-5074
  src/main/resources/CY_ET1_0224.pdf
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfServiceTest.java
Labels: ns:et, prd:et, no_cleanup, enable_keep_helm, aat/no-changes, prod/no-changes, rel:et-sya-api-pr-920

#856 RET-5052
  src/main/java/uk/gov/hmcts/reform/et/syaapi/notification/NotificationsProperties.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/NotificationService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/NotificationServiceTest.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-856

#952 Replace colon in file name with space
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfService.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-952
