Repository hmcts/et-sya-api, pull requests merged in 2025-03, with the labels that each got.

#1243 Update et_acas_api.tf
  infrastructure/et_acas_api.tf
Labels: ns:et, prd:et, aat/destroy, prod/destroy, rel:et-sya-api-pr-1243

#1246 RET-5510 - Fix postcode logic
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseOfficeService.java
  src/main/resources/postcode-office.yml
  src/test/java/uk/gov/hmcts/reform/et/syaapi/config/PostcodeToOfficeLookupTest.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-1246

#1239 RET-5652
  build.gradle
  src/main/java/uk/gov/hmcts/reform/et/syaapi/constants/CaseDetailsLinks.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/constants/ResponseConstants.java
  src/test/resources/requests/et3-request-data.json
  src/test/resources/responses/caseDetailsWithCaseData.json
Labels: ns:et, prd:et, aat/no-changes, prod/add-or-update, rel:et-sya-api-pr-1239

#1250 RET-5650
  src/main/java/uk/gov/hmcts/reform/et/syaapi/controllers/RespondentTseController.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/models/ChangeRespondentApplicationStatusRequest.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/RespondentTseService.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/controllers/RespondentTseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/RespondentTseServiceTest.java
Labels: ns:et, prd:et, aat/add-or-update, prod/add-or-update, rel:et-sya-api-pr-1250

#1253 RET-5650
  build.gradle
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/RespondentTseService.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/RespondentTseServiceTest.java
Labels: ns:et, prd:et, aat/add-or-update, prod/add-or-update, rel:et-sya-api-pr-1253

#1254 RET-5698
  src/main/java/uk/gov/hmcts/reform/et/syaapi/helper/TseApplicationHelper.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/helper/TseApplicationHelperTest.java
Labels: ns:et, prd:et, aat/add-or-update, prod/add-or-update, rel:et-sya-api-pr-1254

#1260 doc category tag error fixed
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfUploadService.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-1260

#1179 Res tse api
  src/functionalTest/java/uk/gov/hmcts/reform/et/syaapi/ManageCaseControllerFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/constants/CaseDetailsLinks.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/constants/EtSyaConstants.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/constants/EtSyrConstants.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/constants/ResponseConstants.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/controllers/RespondentTseController.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/enums/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/helper/NotificationsHelper.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/helper/TseApplicationHelper.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/models/AppResponseCitizen.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/models/ChangeRespondentApplicationStatusRequest.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/models/RespondentApplicationRequest.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/notification/NotificationsProperties.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/ApplicationService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/RespondentTseService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/SendNotificationService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/StoredRespondToApplicationService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/StoredRespondToTribunalService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfUploadService.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/utils/RespondentTseUtil.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/et/syaapi/controllers/RespondentTseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/helper/TseApplicationHelperTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/model/CaseTestData.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/model/TestData.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/ApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/CaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/RespondentTseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/SendNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/StoredRespondToApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/StoredRespondToTribunalServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/pdf/PdfUploadServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/utils/RespondentTseUtilTest.java
  src/test/resources/requests/et3-request-data.json
  src/test/resources/requests/respondentTse.json
  src/test/resources/requests/respondentTseRequest.json
  src/test/resources/responses/caseDetailsWithCaseData.json
  src/test/resources/responses/respondentTse.json
Labels: ns:et, prd:et, no_cleanup, enable_keep_helm, aat/add-or-update, prod/add-or-update, rel:et-sya-api-pr-1179

#1262 RET-5731
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseService.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-1262

#1267 Update TseApplicationHelper.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/helper/TseApplicationHelper.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-1267

#1266 app type check logic added
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/CaseService.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-1266

#1268 Extend hidden doc types
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/utils/DocumentUtil.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-1268
