Repository hmcts/et-sya-api, pull requests merged in 2025-02, with the labels that each got.

#1197 RET-5556
  src/functionalTest/java/uk/gov/hmcts/reform/et/syaapi/ManageCaseControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/et/syaapi/StoreCaseControllerFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/search/ElasticSearchQueryBuilder.java
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/utils/RespondentUtil.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/utils/TestConstants.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-1197

#1207 Update ACAS API to limit data sent back from ES
  src/main/java/uk/gov/hmcts/reform/et/syaapi/service/AcasCaseService.java
  src/test/java/uk/gov/hmcts/reform/et/syaapi/service/AcasCaseServiceTest.java
Labels: ns:et, prd:et, rel:et-sya-api-pr-1207

#1229 Update chart
  charts/et-sya-api/Chart.yaml
Labels: ns:et, prd:et, rel:et-sya-api-pr-1229

#1235 RET-5521
  src/main/resources/CY_ET1_0125.pdf
  src/main/resources/ET1_0125.pdf
  src/main/resources/application.yaml
Labels: ns:et, prd:et, rel:et-sya-api-pr-1235
